<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/style.css"/>

    <title>Portfolio Home</title>
</head>
<body>
    <div class=".container-fluid">
        <div class="header">
            <div class="col-12">
                <div class="col-4">
                    <h3>Emily Bennett</h3>
                </div>
                <div class="col-7">
                    <ul>
                        <div class="col-3">
                            <li><a href="/">Home</a></li>                        
                        </div>
                        <div class="col-3">
                            <li><a href="/projects">Projects</a></li>
                        </div>
                        <div class="col-3">
                            <li><a href="/contact">Contact</a></li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12">
            <h1>Have a Question or Comment?</h1>
            <h1>Contact Here:</h1>
        </div>
        <div class="col-12">
            <form action="contact/submit" method="post">
                <div class="form-group">
                    Name : <input type="text" name="name"/>
                    Email : <input type="email" name="email"/>
                    Question/Comment : <textarea name="comment"></textarea>
                    <button type="submit">Submit</button>                    
                </div>
            </form>
        </div>
    </div>
</body>
</html>