<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/style.css"/>

    <title>Portfolio Home</title>
</head>
<body>
    <div class=".container-fluid">
        <div class="header">
            <div class="col-12">
                <div class="col-4">
                    <h3>Emily Bennett</h3>
                </div>
                <div class="col-7">
                    <ul>
                        <div class="col-3">
                            <li><a href="/">Home</a></li>                        
                        </div>
                        <div class="col-3">
                            <li><a href="/projects">Projects</a></li>
                        </div>
                        <div class="col-3">
                            <li><a href="/contact">Contact</a></li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-12">
            <h1>Emily Bennett</h1>            
        </div>
        <div class="col-12">
            <div class="photo"><img src="~/images/woman.png" alt="Photo" class="img-fluid" /></div>
        </div>
        <div class="col-12">
            <h2 class="about">About Me:</h2>


            <h4 class="about_text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut euismod est. 
                Praesent cursus lectus vel turpis iaculis porta. Donec facilisis, tortor quis malesuada 
                placerat, augue enim molestie lacus, eu viverra leo lorem sed nisl. Pellentesque scelerisque 
                volutpat ante ac maximus. In sollicitudin ipsum id turpis rhoncus elementum. Aliquam non 
                turpis velit. Integer id mi viverra, hendrerit metus ut, luctus erat. Donec cursus nunc 
                id volutpat pulvinar.
            </h4>
            <h4 class="about_text">
                Maecenas elementum lacinia tincidunt. Proin lobortis ligula eu vulputate gravida. 
                Pellentesque sit amet efficitur orci, et viverra felis. Suspendisse id arcu est. 
                Curabitur suscipit justo eu arcu tempus, et viverra augue commodo. Fusce vitae pulvinar 
                nunc, malesuada blandit erat. Duis quis condimentum augue. Mauris libero urna, scelerisque 
                dictum convallis a, egestas quis velit.        
            </h4>
            <h4 class="about_text">
                Morbi maximus ex eu hendrerit scelerisque. Fusce nec tincidunt turpis. Suspendisse 
                posuere mattis felis, non fringilla dui commodo tristique. Donec aliquam, augue at 
                mollis finibus, dui ipsum accumsan mi, id aliquet elit neque blandit mi. Nullam sed 
                neque eu odio egestas congue. Donec non consequat purus. Nam non sapien sed urna 
                posuere posuere. Nulla at rutrum justo. Vestibulum finibus justo non tincidunt posuere. 
                Integer posuere venenatis diam sed egestas. Etiam sed tortor rhoncus, auctor ligula ut, 
                aliquam metus. Sed quis leo at nulla sollicitudin tempus et non ligula.
            </h4>                   
        </div>
 
    </div>

</body>
</html>