<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/style.css"/>

    <title>Portfolio Home</title>
</head>
<body>
    <div class=".container-fluid">
        <div class="header">
            <div class="col-12">
                <div class="col-4">
                    <h3>Emily Bennett</h3>
                </div>
                <div class="col-7">
                    <ul>
                        <div class="col-3">
                            <li><a href="/">Home</a></li>                        
                        </div>
                        <div class="col-3">
                            <li><a href="/projects">Projects</a></li>
                        </div>
                        <div class="col-3">
                            <li><a href="/contact">Contact</a></li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12">
            <h1>Projects</h1>            
        </div>
        <div class="col-4">
            <div class="col-12">
                <h2>Project 1</h2>
            </div>
            <div class="col-12">
                <div class="site"><img src="~/images/site.png" alt="Web Site" class="img-fluid" /></div>
            </div>
            <div class="col-12">
                <h4>
                    Cras quis pulvinar enim, ac porttitor metus. Maecenas egestas 
                    eros eu sem malesuada, vitae cursus sem luctus. Sed eget facilisis 
                    orci, in dignissim orci. Fusce sodales nulla urna, a efficitur nulla 
                    aliquet et. Vestibulum eget leo id lectus imperdiet luctus luctus ac sem. 
                    Morbi condimentum elementum enim, in mollis turpis lacinia at. 
                </h4>
            </div>
        </div>
        <div class="col-4">
            <div class="col-12">
                <h2>Project 2</h2>
            </div>
            <div class="col-12">
                <div class="site"><img src="~/images/site.png" alt="Web Site" class="img-fluid" /></div>
            </div>
            <div class="col-12">
                <h4>
                    Pellentesque felis quam, lacinia eu massa quis, varius cursus libero. Praesent 
                    libero massa, porta sed sollicitudin id, sagittis vel risus. Pellentesque 
                    sollicitudin ante nibh, at pulvinar massa suscipit quis. Ut maximus eleifend bibendum. 
                    Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec ac nisl risus. 
                    Nam varius odio at nibh ullamcorper, sed dignissim elit porta. 
                </h4>
            </div>
        </div>
        <div class="col-4">
            <div class="col-12">
                <h2>Project 3</h2>
            </div>
            <div class="col-12">
                <div class="site"><img src="~/images/site.png" alt="Web Site" class="img-fluid" /></div>
            </div>
            <div class="col-12">
                <h4>
                    Cras vel quam volutpat neque venenatis consequat. Vestibulum ligula odio, 
                    hendrerit sit amet dignissim efficitur, vestibulum at nibh. Nulla tempor 
                    ultrices purus sed suscipit. Cras interdum urna scelerisque ipsum luctus, 
                    non scelerisque justo placerat. Pellentesque est nulla, iaculis sed lacus ut, 
                    pretium porttitor elit.
                </h4>
            </div>
        </div>
        
    </div>

</body>
</html>